* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    background-color: #0A0119;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    margin: 4.5rem;
}

.main-header > p {
    font-size: 1.3rem;
}

.header-links {
    display: flex;   
}

.header-links nav ul {
    display: flex;
}

.header-links nav ul li {
    list-style: none;
}

.header-links nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: white; 
    margin-right: 65px;
}

.pirma-sekcija {
    display: flex;
    margin: 0.5rem 4.5rem;
    height: 20rem;
}

.left-side {
    width: 65%;
    margin-top: 1rem;
}

.pirma-photo {
    width: 600px;
    height: 500px;
    margin: -6rem -3rem -1rem -5rem;
}

.left-side h1 {
    font-size: 2rem;
}

.left-side h2 {
    font-size: 3rem;
    margin-top: 25px;
}

.left-side p {
    font-size: 1.3rem;
    margin: 1.7rem 15rem 0.5rem 0;
}

.top-button {
    background-color: white;
    color: #0A0119;
    border-radius: 20px;
    margin-top: 3rem;
    width: 180px;
    height: 2.8rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.top-button:hover {
    background-color: wheat;
    color: black;
    cursor: pointer;
    margin-bottom: 3rem;
}


.antra-sekcija {
    display: flex;
    flex-direction: column;
    margin: 4.5rem;
    background-color: #0A0119;
}

.antras-titulinis {
    text-align: center;
    margin: 3rem 0 0 1rem;
    padding-bottom: 40px;
    font-size: 1.5rem;
}

.antras-pagrindinis {
    display: flex;
    margin: 0.3rem 4.5rem;
}

.antras-tekstas {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px 0 0 160px;
    font-size: 1.3rem;
}


.logo {
    width: 500px;
    height: 430px;
    margin-left: -5rem;
}


.projects-container {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 0 4rem 4.5rem;    
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.text-projects h2 {
    text-align: center;
    font-size: 1.5rem;
}

.pict {
    display: flex;
    width: 435px;
    height: 435px;
    border-radius: 50px;
    margin: 10px;
}



.text-app {
    line-height: 12.6px;
    font-size: 1.4rem;
    margin: 5px 0 11px 12px;
}

.kalbos-btn-con {
    margin: 0 0 30px 15px;
}


.kalbos-btn {
    background-color: transparent;
    font-size: 1.1rem;
    border: 0.87px solid #F6F6FE;
    color: #F6F6FE;
    border-radius: 3.47px;
    padding: 4px 8px;
    margin-right: 1rem;
}


.last-line {
    display: flex;
    justify-content: space-between;
    margin: 4.5rem;
}


.last-icons {
    display: flex;
    gap: 80px;
}


.endingLine1 > p {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 2rem;
}

.endingLine1 > h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.endingLine1 > h2 {
    display: flex;
    justify-content: center;
    font-size: 3.1rem;
    margin-top: 2rem;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 4.5rem;
    gap: 0.5rem;
}


